
  .card {
    background-color: #ffffff; 
    border: 1px solid #cccccc;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(90vh - 90px);
    overflow-y: auto;
  }


  .form-control {
    padding: 0.5rem; 
  }

  .btn {
    padding: 0.5rem 1rem;
  }